/* ====================================== */
/* GENERIC STYLING */
/* ====================================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

a, a:hover {
  text-decoration: none;
  color: #333333;
  cursor: pointer;
}

header .row:last-child {
  padding-left: 4rem;
}
header a {
  width: 80px;
}

.profile-pic-sm {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.fa-star {
  color: #f1c40f;
}

/* ====================================== */
/* HOME PAGE */
/* ====================================== */
#main .jumbotron {
  margin-top: 4rem;
  width: 600px;
}
#main a {
  height: 60px;
  width: 100px;
  padding-top: 0.75rem;
}

/* SERVICES SECTION */
#services {
  margin-top: 9rem;
}

/* card class */
.card {
  height: 400px;
}

#how-it-works {
  padding: 6rem 0;
}

#advantages {
  padding: 4rem 0;
}

/* ====================================== */
/* SIGN-UP PAGE */
/* ====================================== */
#signup-form {
  margin-top: 6rem;
}
#signup-form .card {
  width: 50%;
  height: 80%;
}
#signup-form a {
  width: 150px;
}

/* ====================================== */
/* BROWSE PAGE */
/* ====================================== */
/* ====================================== */
/* PROFILE PAGE */
/* ====================================== */
#profile .col-4 .card {
  height: 800px;
  background-color: #9b59b6;
  border: none;
  margin-right: 3rem;
}
#profile .col-4 .card img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin-top: 40px;
}
#profile .col-4 .card button {
  width: 50px;
  height: 30px;
  margin-top: 0.25rem;
}
#profile .col-8 .card {
  height: 40%;
  background-color: #bdc3c7;
  border: none;
  margin-bottom: 3rem;
}
#profile .col-8 .edit-btn {
  width: 60px;
  height: 30px;
  margin: 0.5rem;
}
#profile .col-8 button:first-child {
  margin-right: 2rem;
}

/* ====================================== */
/* JOB-FORM PAGE */
/* ====================================== */
#postjob span,
#postjob .error-msg {
  color: red;
}
#postjob .small-text {
  font-size: 12px;
  color: red;
  margin-top: 6px;
}

/* ====================================== */
/* NOTIFY FREELANCER PAGE */
/* ====================================== */
#freelancers .card {
  height: 140px;
}
#freelancers .card button {
  height: 40px;
  margin-right: 1rem;
}

/* ====================================== */
/* SERVICE DETAILS PAGE */
/* ====================================== */
#service-details .review-section {
  margin-bottom: 4rem;
}
#service-details .col-md-8 .jumbotron {
  height: 250px;
}
#service-details .col-md-4 .jumbotron:first-child {
  height: 500px;
  background-color: #9b59b6;
  margin-bottom: 0;
}
#service-details .col-md-4 .jumbotron:first-child img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin-bottom: 2rem;
}

/* ====================================== */
/* PROFILE PAGE */
/* ====================================== */
.profile-head-profile {
  transform: translateY(5rem);
}

.cover-profile {
  background-image: url(https://images.unsplash.com/photo-1530305408560-82d13781b33a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1352&q=80);
  background-size: cover;
  background-repeat: no-repeat;
}

.modal {
  width: 500px;
  background: white;
  border: 1px solid #ccc;
  transition: 1.1s ease-out;
  box-shadow: -2rem 2rem 2rem rgba(0, 0, 0, 0.2);
  filter: blur(0);
  transform: scale(1);
  opacity: 1;
  visibility: visible;
}
.modal.off {
  opacity: 0;
  visibility: hidden;
  filter: blur(8px);
  transform: scale(0.33);
  box-shadow: 1rem 0 0 rgba(0, 0, 0, 0.2);
}
@supports (offset-rotate: 0deg) {
  .modal {
    offset-rotate: 0deg;
    offset-path: path("M 250,100 S -300,500 -700,-200");
  }
  .modal.off {
    offset-distance: 100%;
  }
}
@media (prefers-reduced-motion) {
  .modal {
    offset-path: none;
  }
}
.modal h2 {
  border-bottom: 1px solid #ccc;
  padding: 1rem;
  margin: 0;
}
.modal .content {
  padding: 1rem;
}
.modal .actions {
  border-top: 1px solid #ccc;
  background: #eee;
  padding: 0.5rem 1rem;
}
.modal .actions button {
  border: 0;
  background: #78f89f;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  line-height: 1;
}

/*# sourceMappingURL=main.css.map */
